<%-include("./partials/header")%>
<%-include("./partials/navbar")%>



<div class="container mt-5">
    <div class="mt-5">
        <%-include("./partials/flash")%>
    </div>
      
</div>


<%-include("./partials/footer")%>